#root,
body {
  margin: 0;
  /* width: 100%; */
  height: 100vh;
  /* padding-left: 18px; */
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  display: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(189, 189, 189);
  border-radius: 46px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(189, 189, 189);
}
