.list {
  width: 100%;

  .rdg {
    display: none;
    border-style: none;

    @media (min-height: 50em) {
      height: 100%;
    }
  }
}

.root {
  margin-block: 8px;
  height: auto;
  .rdg {
    --header-background-color: var(--mantine-primary-color-0);
    --row-hover-background-color: var(--mantine-primary-color-0);
  }
}

.header {
  border-radius: 12px 12px 0 0;
  min-height: 24px;
  display: flex;
  padding-inline: 12px;
  padding-block: 8px;

  @mixin dark {
    border-bottom: 1px solid #444;
  }

  @mixin light {
    border-bottom: 1px solid #ddd;
  }
}

.footer {
  border-radius: 0 0 12px 12px;
  display: flex;
  justify-content: flex-end;
  padding-inline: 12px;
  padding-block: 12px;
}
