@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  .rdg {
    --header-background-color: var(--mantine-primary-color-0);
    --row-hover-background-color: var(--mantine-primary-color-0);
    min-height: calc(100vh - 310px);
  }
  background-color: darken(var(--mantine-primary-color-1), 0.9);
  @mixin light {
    background-color: lighten(var(--mantine-primary-color-1), 0.7);
  }

  .rdg-cell {
    display: flex;
    align-items: center;
    border-right: none;
    /* padding: 0 16px; */
  }

  .rdg-header-sort-cell {
    align-items: center;
  }

  .rdg .rdg-header-row:nth-of-type(1) {
    & .rdg-cell {
      border-style: none;
    }
  }

  .rdg .rdg-row:nth-of-type(1) {
    /* No styles applied */
  }

  .rdg-row,
  .rdg-header-row {
    & [aria-selected='true'] {
      box-shadow: none;
    }
  }
}
